<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DCC.ZOS.ZSM.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="DCC.ZOS.ZSM.Properties.Settings.ZSM" connectionString="Data Source=.;Initial Catalog=ZSM;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="DCC.ZOS.ZSM.Properties.Settings.ClientZSMConnectionString" connectionString="Data Source=|DataDirectory|\ZSM.sdf;Max Database Size=2047" providerName="Microsoft.SqlServerCe.Client.3.5" />
  </connectionStrings>
  <appSettings>
    <add key="COMMAND_TIME_OUT_SECONDS" value="0" />
    <add key="SSRS_Enabled" value="false" />
    <add key="PHOTO_FOLDER_PATH" value=".\photos" />
    <add key="NAAMDAN_PHOTO_FOLDER_PATH" value="C:\Naamdan\" />
    <add key="ADDRESS_TYPE_PERMANENT" value="P" />
    <add key="ADDRESS_TYPE_CORRESPONDANCE" value="C" />
    <add key="PERSON_TYPE_ASSISTANCE" value="A" />
    <add key="PERSON_TYPE_DEPENDANT" value="D" />
    <add key="PERSON_TYPE_RESIDENT" value="R" />
    <add key="PERSON_TYPE_VISITOR" value="V" />
    <add key="PERSON_TYPE_SEWADAR" value="S" />
    <add key="PERSON_TYPE_EMPLOYEE_SWD" value="E" />
    <add key="PERSON_TYPE_EMPLOYEE_RWD" value="F" />
    <add key="PERSON_STATUS_EXPIRED" value="Expired" />
    <add key="SPOUSE_SEWADAR" value="SS" />
    <add key="SENDER" value="S" />
    <add key="RECIPIENTS" value="R" />
    <add key="HONORARY" value="JCS/49/" />
    <add key="PARSHADI" value="JCS/50/" />
    <add key="ACTION" value="A" />
    <add key="PRINT" value="P" />
    <add key="ADD/INSERT" value="I" />
    <add key="MODIFY/UPDATE" value="U" />
    <add key="DELETE/REMOVE" value="D" />
    <add key="HOUSE_STATUS_AVAIL" value="Avail" />
    <add key="HOUSE_STATUS_OCCUP" value="Occup" />
    <add key="HOUSE_STATUS_UNAVL" value="UnAvl" />
    <add key="HOUSE_STATUS_VACAT" value="Vacat" />
    <add key="HOUSE_STATUS_ALLOT" value="Allot" />
    <add key="TempPath" value="C:\ZSM_Photo_Clicking\Temp\" />
    <add key="SewadarPhotoPath" value="C:\ZSM_Photo_Clicking\ExistingSewadar\" />
    <add key="PhotoQuality" value="80" />
    <add key="AspectRatio" value="210:320" />
    <add key="Rotate" value="90" />
    <add key="ConnectionString" value="ZSM_MUM|Zonal Sewadar Management|ZSM|Zonal Sewadar Management|1|20-09-2005|ZSM|.\SQLEXPRESS||DCC|1|DCC|ZSM_ADM|Pa55word|50|No|Error|1||||||6015|Mumbai|1|10||" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="SimulateWebDB" value="false" />
    <add key="SimulateWebDBURL" value="http://softsewa.dyndns.org:8084/cdfws/dbmanager/dbmanagerws.asmx" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="ClientRoleProvider">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <runtime>
  <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
    <dependentAssembly>
      <assemblyIdentity name="CrystalDecisions.CrystalReports.Engine" publicKeyToken="692fbea5521e1304" culture="neutral"/>
      <bindingRedirect oldVersion="13.0.2000.0" newVersion="10.5.3700.0"/>
    </dependentAssembly>
    <dependentAssembly>
      <assemblyIdentity name="CrystalDecisions.ReportSource" publicKeyToken="692fbea5521e1304" culture="neutral"/>
      <bindingRedirect oldVersion="13.0.2000.0" newVersion="10.5.3700.0"/>
    </dependentAssembly>    
    <dependentAssembly>
      <assemblyIdentity name="CrystalDecisions.Shared" publicKeyToken="692fbea5521e1304" culture="neutral"/>
      <bindingRedirect oldVersion="13.0.2000.0" newVersion="10.5.3700.0"/>
    </dependentAssembly>
    <dependentAssembly>
      <assemblyIdentity name="CrystalDecisions.Web" publicKeyToken="692fbea5521e1304" culture="neutral"/>
      <bindingRedirect oldVersion="13.0.2000.0" newVersion="10.5.3700.0"/>
    </dependentAssembly>
    <dependentAssembly>
      <assemblyIdentity name="CrystalDecisions.Windows.Forms" publicKeyToken="692fbea5521e1304" culture="neutral"/>
      <bindingRedirect oldVersion="13.0.2000.0" newVersion="10.5.3700.0"/>
    </dependentAssembly>
    <dependentAssembly>
      <assemblyIdentity name="CrystalDecisions.ReportAppServer.ClientDoc" publicKeyToken="692fbea5521e1304" culture="neutral"/>
      <bindingRedirect oldVersion="13.0.2000.0" newVersion="10.5.3700.0"/>
    </dependentAssembly>
    <dependentAssembly>
      <assemblyIdentity name="CrystalDecisions.ReportAppServer.CommonControls" publicKeyToken="692fbea5521e1304" culture="neutral"/>
      <bindingRedirect oldVersion="13.0.2000.0" newVersion="10.5.3700.0"/>
    </dependentAssembly>
    <dependentAssembly>
      <assemblyIdentity name="CrystalDecisions.ReportAppServer.CommonObjectModel" publicKeyToken="692fbea5521e1304" culture="neutral"/>
      <bindingRedirect oldVersion="13.0.2000.0" newVersion="10.5.3700.0"/>
    </dependentAssembly>
    <dependentAssembly>
      <assemblyIdentity name="CrystalDecisions.ReportAppServer.Controllers" publicKeyToken="692fbea5521e1304" culture="neutral"/>
      <bindingRedirect oldVersion="13.0.2000.0" newVersion="10.5.3700.0"/>
    </dependentAssembly>
    <dependentAssembly>
      <assemblyIdentity name="CrystalDecisions.ReportAppServer.CubeDefModel" publicKeyToken="692fbea5521e1304" culture="neutral"/>
      <bindingRedirect oldVersion="13.0.2000.0" newVersion="10.5.3700.0"/>
    </dependentAssembly>
    <dependentAssembly>
      <assemblyIdentity name="CrystalDecisions.ReportAppServer.DataDefModel" publicKeyToken="692fbea5521e1304" culture="neutral"/>
      <bindingRedirect oldVersion="13.0.2000.0" newVersion="10.5.3700.0"/>
    </dependentAssembly>
    <dependentAssembly>
      <assemblyIdentity name="CrystalDecisions.ReportAppServer.DataSetConversion" publicKeyToken="692fbea5521e1304" culture="neutral"/>
      <bindingRedirect oldVersion="13.0.2000.0" newVersion="10.5.3700.0"/>
    </dependentAssembly>    
    <dependentAssembly>
      <assemblyIdentity name="CrystalDecisions.ReportAppServer.ObjectFactory" publicKeyToken="692fbea5521e1304" culture="neutral"/>
      <bindingRedirect oldVersion="13.0.2000.0" newVersion="10.5.3700.0"/>
    </dependentAssembly>
    <dependentAssembly>
      <assemblyIdentity name="CrystalDecisions.ReportAppServer.Prompting" publicKeyToken="692fbea5521e1304" culture="neutral"/>
      <bindingRedirect oldVersion="13.0.2000.0" newVersion="10.5.3700.0"/>
    </dependentAssembly>
    <dependentAssembly>
      <assemblyIdentity name="CrystalDecisions.ReportAppServer.ReportDefModel" publicKeyToken="692fbea5521e1304" culture="neutral"/>
      <bindingRedirect oldVersion="13.0.2000.0" newVersion="10.5.3700.0"/>
    </dependentAssembly>
    <dependentAssembly>
      <assemblyIdentity name="CrystalDecisions.ReportAppServer.XmlSerialize" publicKeyToken="692fbea5521e1304" culture="neutral"/>
      <bindingRedirect oldVersion="13.0.2000.0" newVersion="10.5.3700.0"/>
    </dependentAssembly>
  </assemblyBinding>  
</runtime>
  <userSettings>
    <DCC.ZOS.ZSM.Properties.Settings>
      <setting name="TempPath" serializeAs="String">
        <value>C:\ZSM_Photo_Clicking\Temp\</value>
      </setting>
      <setting name="SewadarPhotoPath" serializeAs="String">
        <value>C:\ZSM_Photo_Clicking\ExistingSewadar\</value>
      </setting>
      <setting name="SaveToFile" serializeAs="String">
        <value>No</value>
      </setting>
      <setting name="AspectRatio" serializeAs="String">
        <value>220:320</value>
      </setting>
    </DCC.ZOS.ZSM.Properties.Settings>
  </userSettings>
</configuration>