<appSettings>
  <add key="webpages:Version" value="2.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="PreserveLoginUrl" value="true" />
  <add key="ClientValidationEnabled" value="false" />
  <add key="UnobtrusiveJavaScriptEnabled" value="false" />
  <add key="CombresSectionName" value="combres" />

  <add key="USER_ID" value=".wdf"/>
  <add key="PASSWORD" value="wdf_system"/>

  <add key="PACKAGE_ID" value="CDB" />

</appSettings>