<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key ="ADD/INSERT" value ="I"/>
    <add key ="MODIFY/UPDATE" value ="U"/>
    <add key ="DELETE/REMOVE" value ="D"/>
    <add key="ConnectionString" value="CDB_APP|Residents Management System|RMS|Residents Manamentment System|1|20-09-2005|RMS|DMZDEV01.deravpn.net\dev||Dera|3|Dera Beas|CDB_RMS|password|50|No|Error|1||||||STR|1|10||"/>
  </appSettings>
</configuration>